{%extends "photos/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
    <div class= "content-section">
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <fieldset class ="form-group">
                <img class ="rounded account-img" src="{{post.image.url}}",width="400",height="400">
                <legend class = "border-bottom mb-4">Photo Post</legend>
                {{ form|crispy }}            </fieldset>
            <div class ="form-group">
                <button class= "btn btn-outline-info" type ="submit">Post</button>
            </div>
        </form>
    </div>      
{%endblock %}
